#root {
  margin: 0px;
  width: 100%;
  text-align: center;
  --default-background: #121212;
  --default-border: #2c2c2c;
  --default-primary: #5a2ea6;
  --default-secondary: #7f4bff;
}

html,body {
  background-color: var(--default-background);
  margin: 0px;
}

.header {
  height: 70px;
  background-color: var(--default-background);
  border-bottom: 2px solid var(--default-border);
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}

.logoBannerWhite {
  position: absolute;
  left: 14px;
  height: 70px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/logoBannerWhite.png");
  cursor: pointer;
}
.placeholder-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72px);
  text-align: center;
}