#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.noise-bg {
  position: absolute;
  inset: 0;
  background-image: url("./assets/Images/Noise.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.35;
  pointer-events: none;
  z-index: -1;
}